body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #ffeaf1;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

svg {
  width: 600px;
  height: 600px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  margin: 0 10px 10px 0;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
button#btn-happy {
  background-color: #eb584d;
}
button#btn-happy:hover {
  background-color: #e62d1f;
}
button#btn-cool {
  background-color: #007185;
}
button#btn-cool:hover {
  background-color: #004652;
}
button#btn-sexy {
  background-color: #e5004e;
}
button#btn-sexy:hover {
  background-color: #b2003d;
}
button#btn-crazy {
  background-color: #883277;
}
button#btn-crazy:hover {
  background-color: #632456;
}

button:last-child {
  margin-right: 0;
}

button:focus {
  outline: none;
  border: 0;
}
